<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @appointment.user_id %>
</p>

<p>
  <strong>Child:</strong>
  <%= @appointment.child_id %>
</p>

<p>
  <strong>Vaccine:</strong>
  <%= @appointment.vaccine_id %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
